html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Noto Sans JP';
    font-weight: 600;
    text-align: center;
}

h1 {
    color: #472527;
    font-weight: 600;
    font-size: 5rem;
    margin-bottom: 8%;
}

h2, h3 {
    font-family: 'Noto Sans JP';
    font-weight: 700;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 2.5rem;
    color: #3d1518;
}

p {
    font-family: 'Noto Sans JP';
    font-weight: 400;
}

.h2-white {
    color: #FFFFFF;
}

/* map */
.search-map {
    grid-column-start: 2;
}

#map {
    height: 100%;
}

/* index page */

.index-main {
    width: 500px;
    min-height: 400px;
    padding: 100px 0;
    margin: 5% auto;
    box-shadow: rgb(136, 136, 136) 2px 1px 20px;
    text-align: center;
}

.index-logo-container {
    margin-bottom: 5%;
    font-family: 'Noto Sans JP';
    font-weight: 800;
    font-size: 2rem;
    color: #3d1518; 
}

.brandname {
    font-family: 'Noto Sans JP';
    font-weight: 700;
    font-size: 3rem;
    color: #3d1518; 
    vertical-align: middle;
    margin: 3% 0 0 0;
}

.index-p {
    font-size: 1.5rem;
    margin-bottom: 4%;
}

.index-button {
    border: none;
    border-radius: 0.3em;
    text-align: center;
    padding: 20px 40px;
    margin: 0 7px;
    display: inline-block;
    font-family: 'Lato';
    font-weight: 500;
    font-size: 1.8rem;
    color: #ffffff;
}

.index-button-customer {
    background-color: #ff7043;
}

.index-button-hospital {
    background-color: #ffffff;
    border: solid 1.5px #ff7043;
    color: #ff7043;
}

/* customer login page */

.main-form {
    width: 500px;
    min-height: 400px;
    display:flex;
    justify-content:center;
    align-items:center;
    margin: 5% auto;
    box-shadow: rgb(136, 136, 136) 2px 1px 20px;
}

.form-container{
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    clear: both;
}

.customer-brandname {
    font-size: 2.3rem;
}

.every-input-container {
    margin-top: 8%;
}

.input-container {
    text-align: left;  
}

.input, .input-container label {
    display: inline-block;
    width: 100%;
    clear: both;
    text-align: left;
}

.customer-input-label {
    font-family: 'Noto Sans JP';
}

.input {
    border: 1px solid #d3d3d3;
    border-radius: 4px; 
    padding: 4% 3%;
    margin: 0 0 4% 0;
}

.input::placeholder {
    color: #d3d3d3;
    font-weight: 400;
    font-size: 1.2rem;
}

.signin-submit {
    font-family: Noto Sans JP;
    font-weight: 500;
    border: none;
    background-color: #ff7043;
    border-radius: 4px; 
    color: #FFFFFF;
    width: 30%;
    padding: 3% 3%;
    margin: 0 0 4% 0;
}

.newsletter-submit {
    font-size: 0.9rem;
    width: 36%;
}

.subscribe input {
    margin-bottom: 6%;
}

.password-reset-link {
    float: right;
    font-weight: 500;
    font-size: 1rem;
    color: #ff7043;
    opacity: 50%;
}

/* search */

.search-wrapper {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr; 
}

.sidebar {
    grid-column-start: 1; 
    row-gap: 1em;
}

/* search form */

.sidebar-search-form {
    box-shadow:  rgb(136, 136, 136) 2px 1px 20px;
    height: 180px;
    margin-left: 0;
}

.search-span {
    font-family: 'Noto Sans JP';
    font-weight: 600;
    line-height: 1.3;
    color: #665c5a;
    display: inline-block;
    padding: 3% 3% 4% 0.5%;
    font-size: 1.3rem;
}

/* form itself */

.search-form {
    padding: 4% 5% 3% 5%;
    vertical-align: center;
}

.before-search {
    height: 100%;
    box-shadow:  rgb(136, 136, 136) 2px 1px 20px;
} 

.search-input-container {
    margin: 4% 0;
}

.search-input {
    width: 80%;
    margin-right: 0;
    border-radius: 0.5em 0 0 0.5em;
    padding: 4% 3%;
}

.search-input::placeholder {
    color: #d3d3d3;
    font-size: 0.9rem;
}

.search-submit {
    font-family: 'Noto Sans JP';
    float: right;
    margin-left: 0;
    border-radius: 0 0.5em 0.5em 0;
    border: none;
    padding: 4% 3%;
    background-color: #ff7043;
    width: 20%;
    color: #ffffff;
}

/* search result */

.sidebar-search-result {
    margin: 5% 3%;
}

.no-search-result {
    padding: 8% 4%;
}

.search-result-box {
    padding: 7% 6%;
    margin-bottom: 3%;
    box-shadow:  rgb(175, 174, 174) 1px 2px 5px;
}

.search-result-name {
    font-family: 'Noto Sans JP';
    font-weight: 600;
    display: inline;
    font-size: 1rem;
    color: #472527;
}

.search-result-wait-time {
    font-family: 'Roboto';
    font-weight: 700;
    float: right;
    color: #472527;
}

.search-result-wait-time-span {
    font-size: 0.7rem;
    font-weight: 700;
    color: #ff7043;
}

.search-result-addr {
    font-size: 0.7rem;
    font-weight: 300;
    color: #808080;
    margin-bottom: 0.5rem;
}

.search-result-operating-time {
    font-size: 0.75rem;
    color: #808080;
}

.search-result-operating-time-span {
    color: #493133;
}

/* For the headings in each section */

.heading {
    padding: 7% 5%;
}

/* Header */

.header-container {
    padding: 2% 5%;
}

.header-brandname {
    font-family: 'Noto Sans JP';
    font-weight: 800;
    color: #3d1518; 
    vertical-align: middle;
}

.navbar-container {
    margin: 0 auto;
}

.navbar {
    background-color: #FFFFFF;
    padding: 1.5% 3%;
}

.nav-item {
    padding: 0 20px;
}

.nav-link {
    font-family: 'Noto Sans JP';
}

@media (max-width: 1028px){
    .search-wrapper {
        margin: 6% 0;
    }

    h1 {
        font-size: 3rem;
    }

    .hero-btn {
        margin: 4% 3% 1% 0;
    }
}
