{% extends "layout.html" %}
{% block content %}
<!--Enter Name -->
<main class="index-main">
    <div class="index-logo-container">
        <img class="logo" src="../static/img/uptimed5.png" width="60" height="60" alt="" loading="lazy">
        <!-- <p class="index-brandname">UptiMed</p> -->
       <span class="index-brandname brandname">UptiMed</span> 
    </div>
    <p class="index-p">Please choose the one that applies to you!</p>
    <div class="index-button-container">
        <a href="customer-login"><button class="index-button index-button-customer">Patients</button></a>
        <a href="#"><button class="index-button index-button-hospital">Hospitals</button></a>
    </div>
</main>
{% endblock %}

